
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-bar{
    background: rgba(40, 121, 86, 0.886);
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}
.nav-bar ul{
    list-style: none;
    display: flex;
}
.nav-bar ul li{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;

}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-bar ul li a:hover{
    color: rgb(28, 96, 73);
}
.drop-down-menu{
    display: none;
}
.nav-bar ul li:hover .drop-down-menu{
    display: block;
    position: absolute;
    margin-top: 8.5px;
    left: 0;
    top: 100%;
    background:rgba(40, 121, 86, 0.854);
    
}
.nav-bar ul li:hover .drop-down-menu ul{
    display: block;
    margin: 10px;
}
.nav-bar ul li:hover .drop-down-menu ul li{
    width: 150px;
    padding: 10px;
}
.logo{
    width: 80px;
    height: auto;
    display: flex;
    margin-top: -5px;
    cursor: pointer;
}

.login{
    display: inline-block;
    text-decoration: none;
    background-color: #d9eee1;
    color: black;
    padding: 10px 30px;
    padding-right: 60px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    display: top;
}
.login:hover{
    cursor: pointer;
    color: white;
    background-color: #04aa6d;
}
.signup{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(28, 96, 73);
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin-left: -50px; 
}
.signup:hover{
    background-color: #35a47b;
    cursor: pointer;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}
body{
    background: #dfe9f5;
    /* background: #c7ffd7; */
}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: rgb(71, 145, 119);
}
button:hover{
    /* background: rgb(71, 145, 119); */
    background: rgb(80, 171, 144);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(58, 81, 233);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member{
    color: rgb(58, 81, 233);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: #464647;
}
